:root {
  font-family: 'Microsoft YaHei', sans-serif;
  color: #1f2937;
  background: #f0f2f5;
}

* {
  box-sizing: border-box;
}

html,
body,
#app {
  min-height: 100%;
}

body {
  margin: 0;
  background: #f0f2f5;
}
